.base-info{
    color: #565A60;
    font-size: 16px;
    padding-top: 10px;
    :global{
        .ant-form-item-required:before{
            display: none;
        }
        .ant-form-item{
            display: flex;
            flex-flow: row;
            &:not([name="soluClueDes"]){
                padding-right: 70px;
            }
            .ant-form-item-control-wrapper{
                flex: 1;
            }
        }
    }
}