.search-box{
    .search-top-ipt {
        width: 700px;
        margin: 40px 0;
    }
    .search-center-check{
        width: 100%;
        padding: 13px 23px;
        color: #3988FF;
    }
    .search-bottom-check{
        width: 100%;
        padding: 30px;
        .select-item{
            margin-bottom: 8px;
            align-items: flex-start;
            >div:nth-child(1){
                color: #A2AAB5;
                line-height: 24px !important;
            }
            .flex-1{
                flex-wrap: wrap;
            }
            :global(.separator){
                margin-right: 0;
            }
        }
    }
    
    .radio-tag{
        display: inline-block;
        border-radius: 2px;
        cursor: pointer;
        height: 24px;
        line-height: 24px;
        padding: 0 8px;
        margin: 0 10px 12px;
        &.selected{
            background: #2356A1;
            color: #fff;
        }
    }
}
.border-box{
    border:1px solid rgba(215,219,230,1);
    +.border-box{
        margin-top: 10px;
    }
}