@import '~zerod/scssMixin/generateClassName';
@import '~zerod/scss/common/z-flex.scss';
// @import '../../ant-theme-vars.scss';

@include z('main-user-menu') {
    min-width: 180px;
}

@include z('drop-down') {
    background: transparent !important;
    color: #fff;
}
@include z('bg-white') {
    background: transparent !important;
    color: #fff;
}
:global {
    .layout-container {
        padding: 0 80px;
        background: #f0f2f5;
    }
    .bread-crumb {
        height: 48px !important;
        display: flex;
        align-items: center;
    }
    .main-container {
        .z-layout-body {
            background: #fff;
            .main-rt-container {
                width: 1200px;
                padding-bottom: 50px;
                margin: 0 auto;
            }
        }
    }
}
