@import '~zerod/scssMixin/generateClassName';
@import '~zerod/scss/common/z-flex.scss';
// @import '../../ant-theme-vars.scss';

@include z('main-user-menu') {
    min-width: 180px;
}

@include z('drop-down') {
    background: transparent !important;
    color: #fff;
}
@include z('bg-white') {
    background: transparent !important;
    color: #fff;
}
:global {
    .index-container {
        .z-layout-body {
            background: #f0f2f5;
        }
    }
    .ant-breadcrumb{
        display: flex;
        align-items: center;
    }
    .ant-calendar-picker-container{
        top: 0 !important;
    }
}
