.index-container {
    padding: 0 80px 50px;
    background: #f0f2f5;
    .col-div-box {
        overflow: hidden;
        .col-div-box-child {
            width: calc(100% + 35px);
            margin-left: -10px;
        }
        .col-div {
            background: rgba(255, 255, 255, 1);
            border-radius: 4px;
            .col-div-head {
                height: 62px;
                padding: 0 5px 0 20px;
                .head-tit {
                    color: #24272c;
                    padding-left: 15px;
                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 3px;
                        height: 16px;
                        background: #3988ff;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }
        .col-div-content {
            padding: 0 20px 20px;
        }
        &.part-1 {
            // flex-wrap: wrap;
            .col-div {
                float: left;
                width: 335px;
                // width: calc((100% - 80px) / 5);
                height: 170px;
                padding-left: 40px;
                margin-bottom: 20px;
                color: #565a60;
                // + .col-div {
                //     margin-left: 20px;
                // }
                // &:nth-of-type(6) {
                //     margin-left: 0;
                // }
                margin: 0 10px 20px;
                > div {
                    height: 70px;
                }
                .icon {
                    width: 60px;
                    height: 60px;
                    margin-right: 32px;
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    &.allClue {
                        background-image: url(../../../assets/images/index/find.png);
                    }
                    &.subjectInvolved {
                        background-image: url(../../../assets/images/index/main_body.png);
                    }
                    &.administrativeOrgan {
                        background-image: url(../../../assets/images/index/unit.png);
                    }
                    &.clueIncluded {
                        background-image: url(../../../assets/images/index/collect_counts.png);
                    }
                    &.clueDisposal {
                        background-image: url(../../../assets/images/index/deal_counts.png);
                    }
                    &.evidenceColl {
                        background-image: url(../../../assets/images/index/check.png);
                    }
                    &.filing {
                        background-image: url(../../../assets/images/index/register_ing.png);
                    }
                    &.registered {
                        background-image: url(../../../assets/images/index/register_ed.png);
                    }
                    &.failedFiling {
                        background-image: url(../../../assets/images/index/unpass.png);
                    }
                }
                .desc {
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;
                    .counts {
                        color: #24272c;
                    }
                    .unit {
                        color: #a2aab5;
                    }
                }
            }
        }
        &.part-2 {
            justify-content: space-between;
            .col-div {
                width: 570px;
                height: 470px;
                flex-flow: column;
                // &:nth-of-type(4)
                .col-div-head {
                    padding-top: 20px;
                }
                .col-div-content {
                    padding-top: 10px;
                    .data-type {
                        // position: relative;
                        // &:after {
                        //     content: '';
                        //     position: absolute;
                        //     width: 100%;
                        //     height: 100%;
                        //     z-index: 2;
                        // }
                        .data-type-handle {
                            padding: 4px;
                            background: #e6eaf6;
                            border-radius: 4px;
                            text-align: center;
                        }
                        :global {
                            .ant-radio-button-wrapper {
                                min-width: 78px;
                                &:not(.ant-radio-button-wrapper-checked) {
                                    background: #e6eaf6;
                                    color: #a2aab5;
                                }
                            }
                        }
                    }
                    .data-charts {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        &.part-3 {
            .col-div {
                height: 438px;
                background: #fff;
                border-radius: 4px;
                margin-top: 20px;
                .col-div-head {
                    padding-top: 20px;
                    padding-bottom: 20px;
                }
                .col-div-content {
                    position: relative;
                    padding-top: 10px;
                    .data-charts {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            :global {
                // .ant-select-dropdown {
                //     top: 35px !important;
                //     left: 0 !important;
                // }
                .ant-select-selection {
                    top: -25px;
                    background: #e6eaf6;
                    color: #565a60;
                }
            }
        }
    }
}
