.item-box {
    cursor: pointer;
    height: 230px;
    padding: 15px 15px 10px 15px;
    background: rgba(255, 255, 255, 1);
    border-radius: 2px;
    border: 1px solid rgba(215, 219, 230, 1);
    margin: 10px;
    font-size: 14px;
    color: #565a60;
    &:hover{
        border: 2px solid #3587FF;
        padding: 14px 14px 9px 14px;
        .status-icon{
            right: 16px;
            bottom: 36px;
        }
    }
    > p {
        margin-bottom: 10px;
        &.title {
            font-size: 16px;
        }
        &.tags {
            margin-bottom: 19px;
            height: 24px;
        }
    }
    .update-time {
        color: #d1d5db;
    }
    .status-icon {
        width: 75px;
        height: 75px;
        right: 17px;
        bottom: 37px;
        &.apply-build{
            background: url(../../../../assets/images/status/apply_build.png) center / contain no-repeat;
        }
        &.apply-builded{
            background: url(../../../../assets/images/status/build_ed.png) center / contain no-repeat;
        }
        &.apply-unpass{
            background: url(../../../../assets/images/status/apply_unpass.png) center / contain no-repeat;
        }
        &.apply-searching{
            background: url(../../../../assets/images/status/search_ing.png) center / contain no-repeat;
        }
    }
}
