.main-rt-con-detail {
    padding: 20px;
    .main-module {
        > p.title {
            font-weight: 600;
            font-size: 16px;
            color: #14305a;
            padding: 10px 13px;
            &.bt-line {
                border-bottom: 1px solid rgba(215, 219, 230, 1);
            }
        }
    }
    .clue-other {
        margin-top: 20px;
        .clue-other-item {
            line-height: 32px;
            margin-bottom: 30px;
            padding-top: 10px;
            p.title {
                font-weight: 600;
                color: rgba(36, 39, 44, 1);
            }
            p.content {
                color: rgba(86, 90, 96, 1);
            }
        }
    }
    .file-list{
        padding: 16px;
    }
}

:global {
    .title-line-before {
        position: relative;
        padding-left: 13px;
        &:before {
            content: '';
            display: inline-block;
            position: absolute;
            width: 3px;
            height: 16px;
            background: #1b52a1;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
