@import '@/scss';
.search-list-item {
    font-size: 16px;
    margin-top: 10px;
    padding: 20px;
    // transition: all ease .4s;
    border: 1px solid rgba(215, 219, 230, 1);
    &:hover {
        border: 2px solid rgba(53, 135, 255, 1);
        padding: 19px;
    }
    tag1 {
        color: #3587FF;
    }
    > div {
        &:not(:last-child) {
            margin-bottom: 8px;
        }
        &.collect {
            margin-top: 10px;
            .left-part {
                color: #d1d5db;
            }
            .right-part {
                > div {
                    + div {
                        margin-left: 10px;
                    }
                    &:nth-child(1) {
                        @include radius-btn($height: 36px);
                    }
                    &:nth-child(2) {
                        @include radius-btn($bg: #fff, $height: 36px, $color: #3988ff, $hoverBg: #fff);
                    }
                }
            }
        }
    }
    .search-list-item-title {
        .title {
            color: #24272c;
            width: 1000px;
            font-weight: 600;
            .item-check {
                margin-right: 8px;
                padding-top: 2px;
            }
            .item-link {
                @include line-clamp($line: 2);
            }
        }
        .collect {
            color: #565a60;
            &.collected {
                color: #ff4f69;
            }
        }
    }
    .left-part {
        display: flex;
        align-items: center;
        color: #a2aab5;
    }
    .right-part {
        color: #d1d5db;
    }
}
