.new-deal-box {
    .clue-name {
        .left {
            width: 70px;
        }
        .right {
            flex: 1;
        }
    }
    .item {
        + .item {
            margin-top: 15px;
        }
        &.search {
            border-radius: 2px;
            :global(.ant-input) {
                background: #f4f4f4;
            }
        }
        .search-clue-list {
            height: 275px;
            margin-top: 15px;
            .search-clue-item {
                margin-bottom: 8px;
                .item-tit{
                    width: 350px;
                    color: #565A60;
                }
                .item-tag{
                    flex: 1;
                    color: #A2AAB5;
                }
            }
        }
    }

    :global {
        .ant-modal-body {
            padding: 20px;
        }
        .ant-checkbox-group {
            width: 100%;
        }
        .z-to-top {
            display: none;
        }
    }
}
