.file-box {
    display: flex;
    align-items: center;
    width: 144px;
    height: 52px;
    background: #eaedf5;
    border-radius: 4px;
    padding: 12px 10px;
    cursor: pointer;
    overflow: hidden;
    > img {
        width: 32px;
        height: auto;
    }
    > div {
        display: flex;
        flex-direction: column;
        margin-left: 8px;
        width: calc(100% - 40px);
        > p {
            line-height: 15px;
            color: #d6dae5;
            &:nth-child(1) {
                color: #62697d;
            }
        }
    }
    + .file-box {
        margin-left: 10px;
    }
    .handle-modal {
        // display: none;
        opacity: 0;
        transition: all ease 0.3s;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        margin-left: 0;
        color: #fff;
        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: rgba(0, 0, 0, 0.4);
        }
        > div {
            position: relative;
            height: 100%;
            z-index: 2;
            > i {
                margin: 0 10px;
                font-size: 20px;
            }
        }
    }
    &:hover{
        .handle-modal{
            // display: block;
            opacity: 1;
        }
    }
}
:global {
}
