// 自定义按钮样式
@mixin radius-btn(
    $radius: 19px,
    $height: 36px,
    $padding: 0 15px,
    $color: #fff,
    $bg: #3988ff,
    $hoverBg: #5b98f3,
    $border: 1px solid #3988ff
) {
    box-sizing: border-box;
    border-radius: $radius;
    height: $height;
    line-height: $height;
    padding: $padding;
    color: $color;
    background: $bg;
    border: $border;
    cursor: pointer;
    &:hover {
        background: $hoverBg;
    }
}
:global {
    // 重置样式
    p {
        margin: 0;
        padding: 0;
    }
    i {
        font-style: normal;
    }
    // 定位
    .relative {
        position: relative;
    }
    .absolute {
        position: absolute;
    }
    // 文字超出
    .ellipsis {
        white-space: nowrap;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }
    // 文字排列
    .text-right {
        text-align: right;
    }
    .text-left {
        text-align: left;
    }
    .text-center {
        text-align: center;
    }
    // 行内块
    .inline-block {
        display: inline-block;
    }
    // 统一 间距
    .mar-r-5 {
        margin-right: 5px;
    }
    .mar-r-10 {
        margin-right: 10px;
    }
    .mar-r-15 {
        margin-right: 15px;
    }
    .mar-t-10 {
        margin-top: 10px;
    }
    .mar-t-15 {
        margin-top: 15px;
    }
    .mar-t-20 {
        margin-top: 20px;
    }
    .mar-b-20 {
        margin-bottom: 20px;
    }
    .pad-0-80 {
        padding: 0 80px;
    }
    .ft-16 {
        font-size: 16px;
    }
    .ft-18 {
        font-size: 18px;
    }
    .ft-24 {
        font-size: 24px;
    }
    .pointer {
        cursor: pointer;
    }
    // 浮动清除
    .clearfix {
        &:after {
            visibility: hidden;
            display: block;
            font-size: 0;
            content: ' ';
            clear: both;
            height: 0;
        }
    }
    // 侧边导航 重置
    .z-layout {
        .z-main-nav {
            &.is-dark {
                background: #1c4480;
                .ant-menu-item {
                    border-radius: 0;
                    padding-left: 20px !important;
                    border-left: 4px solid transparent;
                    box-sizing: border-box;
                    &.ant-menu-item-selected {
                        background: #132e59;
                        border-left: 4px solid #3988ff;
                    }
                }
                .ant-menu-dark {
                    .ant-menu-sub {
                        background: transparent;
                    }
                    .ant-menu-item-selected {
                        .anticon {
                            & + span {
                                color: #3988ff;
                            }
                        }
                    }
                }
            }
        }
    }
    .ant-menu {
        .ant-menu-inline {
            .ant-menu-item {
                margin: 0;
            }
        }
        .ant-menu-submenu {
            .ant-menu-submenu-title {
                > span {
                    > i {
                        min-width: 20px;
                        margin-right: 5px;
                    }
                }
            }
        }
        .ant-menu-submenu-selected {
            .ant-menu-submenu-title {
                color: #3988ff;
            }
            &.ant-menu-submenu-inline {
                > .ant-menu-submenu-title {
                    .ant-menu-submenu-arrow:after,
                    .ant-menu-submenu-arrow:before {
                        background: #3988ff;
                    }
                }
            }
        }
    }
    // 白色背景
    .white-bg {
        background: #fff;
    }
    // flex 布局
    .flex {
        display: flex;
        flex-flow: row;
        &.align-item-center {
            align-items: center;
        }
        &.just-con-center {
            justify-content: center;
        }
        &.flex-end {
            justify-content: flex-end;
        }
        &.flex-col {
            flex-direction: column;
        }
        &.flex-between {
            justify-content: space-between;
        }
        .flex-1 {
            flex: 1;
        }
    }
    // 自定义 分割线 |
    .separator {
        display: inline-block;
        width: 1px;
        height: 12px;
        background: #e0e5f3;
        margin: 0 12px;
    }
    .border-tag {
        border-color: #3988ff;
        color: #3988ff;
        svg {
            color: #3988ff;
        }
    }
    // 自定义primary 按钮
    .primary_self {
        .ant-btn-link {
            color: #3988ff;
        }
        [type='button'],
        &[type='button'] {
            display: inline-block;
            height: 32px;
            line-height: 32px;
            padding: 0 12px;
            color: #fff;
            background: rgba(35, 87, 161, 1);
            border-radius: 2px;
            border: none;
            &:hover {
                background: #386ab3;
            }
        }
    }
    // 虚线边框按钮重置
    .dashed_self {
        &.ant-btn-dashed {
            color: #d1d5db;
            &:hover {
                color: #4272ad;
            }
        }
    }
    // 自定义tag
    .tags-self {
        display: inline-block;
        height: 24px;
        line-height: 24px;
        padding: 0 8px;
        border-radius: 2px;
        font-size: 12px;
        &.domain {
            background: rgba(226, 248, 239, 1);
            color: #1bc27a;
        }
        &.clueType {
            background: rgba(252, 246, 235, 1);
            color: #ffb12d;
        }
        &.PenaltyCategoryOne {
            background: rgba(254, 241, 243, 1);
            color: #ef374f;
        }
        &.PenaltyCategoryTwo {
            background: rgba(237, 244, 255, 1);
            color: #7f93b2;
        }
        &.GREEN {
            background: rgba(226, 248, 239, 1);
            color: #1bc27a;
        }
        &.YELLOW {
            background: rgba(252, 246, 235, 1);
            color: #ffb12d;
        }
        &.GOLD {
            background: rgba(252, 246, 235, 1);
            color: #dcd581;
        }
        &.RED {
            background: rgba(254, 241, 243, 1);
            color: #ef374f;
        }
        &.BLUE {
            background: rgb(227, 223, 249, 1);
            color: blue;
        }
        &.BLACK {
            background: rgba(234, 237, 245, 1);
            color: #62697d;
        }
        &.tag-grey {
            background: rgba(235, 238, 245, 1);
            color: #a2aab5;
        }
        + .tags-self {
            margin-left: 8px;
        }
    }

    // 排序按钮
    .sort-btn {
        position: relative;
        display: flex;
        align-items: center;
        color: #9ea9c8;
        margin-left: 10px;
        .sort-btn-icon {
            margin-left: 5px;
            color: #d6dae5;
            display: flex;
            flex-direction: column;
            &.ascending {
                .icon-top {
                    color: #24272c;
                }
            }
            &.descending {
                .icon-bottom {
                    color: #24272c;
                }
            }
            .icon-top {
                position: relative;
                bottom: -3px;
            }
            .icon-bottom {
                position: relative;
                top: -3px;
            }
        }
    }
    // 引入阿里图标重置图标字号
    .icon-font {
        font-size: 20px !important;
    }
    // 自定义  link 按钮
    .ant-btn-link {
        &.warning {
            color: #ff4f69;
        }
    }
}
// 页面跟路由央视设置
:global {
    .layout-container {
        padding: 0 0 0 80px;
        background: #f0f2f5;
        .bread-crumb {
            height: 48px !important;
            display: flex;
            align-items: center;
        }
        .main-container {
            background: #f0f2f5;
            .z-layout-body {
                .z-body-scroll {
                    >div,>div>section{
                    height: 100%;

                    }
                }
                .main-rt-div1 {
                    height: 100%;
                    padding-right: 80px;
                    background: #f0f2f5;
                    .main-rt-div2 {
                        min-height: 100%;
                        background: #fff;
                    }
                }
                .main-rt-container {
                    width: 1200px;
                    padding-bottom: 50px;
                    margin: 0 auto;
                }
            }
        }
    }
    .ant-modal-footer {
        padding: 16px 24px;
    }
    // 日历
    .align-right {
        .ant-calendar-picker-container {
            left: auto !important;
            right: 0 !important;
        }
    }
    .align-left {
        .ant-calendar-picker-container {
            left: 0 !important;
            right: auto !important;
        }
    }
    // loading
    .z-loading{
        &.is-hide{
            display:  none;
        }
    }
}
